body {background: #4682B4};
 h1 { font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */ 
    font-size: 300%; /* Размер текста */ 
    font-weight: lighter;
color: #fff;
	align="center";};